<h1>Listing Libraries</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @libraries.each do |library| %>
        <tr>
          <td><%= link_to library.name, library %></td>
          <td><%= truncate(library.description, length: Library::MAX_DESCRIPTION_LENGTH) %></td>
          <td class="text-right">
            <% if current_user == library.owner %>
              <%= link_to library, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<% if current_user %>
  <%= link_to 'New Library', new_library_path %>
<% end %>
