<footer class="footer">
  <small>
    Copyright <%= Time.now.year.to_s %>
  </small>
  <div class="pull-right">
    <a href="http://github.com/mvassilevsky">Michael Vassilevsky</a>
  </div>
</footer>
